clearml==2.1.1
autogluon[all]==1.4.0

# Note: autogluon[all] pulls in multimodal/timeseries deps and is heavy.

# 常見穩定鎖版（避免 numpy 2.x 造成某些 native wheel 不齊）
numpy==1.26.4
pandas==2.2.3

# Model interpretability (optional)
shap==0.45.0

# S3/MinIO
s3fs==2025.3.0
boto3==1.41.5

#（可選）你若自己在 image 內裝 torch，就在這裡鎖
torch==2.6.0

bokeh==2.0.1